
/* Three divs wipe and hide: provide email, provide code, enter username and password */
/* Make a wipe appearance by placing them into view using the three classes below */

.signup-div-show {
    display: block;
    margin-left: 0%;
}

.signup-div-hidden-left {
    margin-left: -150%;
}

.signup-div-hidden-right {
    margin-left: 150%;
}

.signup-hidden {
    opacity: 0;
}

.signup-div-container {
    position: relative;
    overflow: hidden;
    height: fit-content;
    min-height: 600px;
    box-sizing: content-box;
    background-color: #98a3fa;
    border-radius: 10px;
    border: 5px #787878 solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transition: background-color 3s;
}

.signup-div-container-success {
    background-color: #9012ea;
}

.signup-success-div {
    position: absolute;
    width: 90%;
    height: 300px;
    left: 5%;
    text-align: center;
    top: calc(50% - 150px);
    display: default;
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease-in;
}

.signup-success-div-show {
    pointer-events: initial;
    opacity: 1;
}

.signup-success-div > .signup-success-text {
    text-align: left;
}

.signup-success-title {
    color: white;
    font: bold 28px Arial;
    margin-top: 35px;
}

.signup-div {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    min-width: 100%;
    top: 0px;
    transition: margin-left 0.2s;
}

.signup-space-above {
    margin-top: 80px;
}

.signup-form {
    text-align: center;
    align-content: center;
    margin: 10px;
}

.signup-title {
    color: rgb(70, 70, 70);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
}

.signup-form-text {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: rgb(70, 70, 70);
    margin-bottom: 8px;
    margin-top: 20px;
}

.signup-form-area {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.signup-form-area > .signup-text-left {
    text-align: left;
}

.signup-form-area > .code-input-field {
    text-align: none;
}

.signup-error-msg {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: rgb(200, 0, 0);
    margin-bottom: 20px;
}

.signup-input-field {
    font-size: 22px;
    font-weight: bold;
    color: #464646;
    letter-spacing: 0.5px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 3px solid #787878;
    padding: 10px 8px 10px 8px;
    outline: none;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.signup-input-field:focus {
    border: 3px solid #5a5a5a;
    background-color: white;
}

.signup-input-field::placeholder {
    color: rgb(200, 200, 200);
}

.code-input-field {
    width: 250px;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.signup-submit-button {
    width: 210px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.login-instead-div {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: 15px;
    text-align: center;
}

.text-button {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.text-button:hover {
    color: red;
}


.signup-success-text {
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 340px) {
    .signup-div-container {
        height: 650px;
    }
}

@media (min-width: 340px) and (max-width: 440px) {
    .signup-div-container {
        height: 625px;
    }
}

/* Smaller screens */
@media (max-width: 600px) {
    .signup-div-container {
        width: 90%;
        min-width: 280px;
    }
}

/* Larger screens */
@media (min-width: 600px) {
    .signup-div-container {
        width: 540px;
    }
}

