
.dot-game-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(113, 113, 113);
    overflow: hidden;
}

.search-game-text {
    font-size: 15px;
    background-color: yellow;
    width: 300px;
    height: 50px;
}

.search-game-button {
    width: 230px;
}

.hover:hover {
    cursor: pointer;
}

.clickable-circle {
    position: absolute;
    border-radius: 100%;
    opacity: 80%;
}

.clickable-circle:hover {
    cursor: pointer;
    opacity: 100%;
}

.circle-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    background-size: cover;
}

.circle-btn-gray {
    background-image: url('../../assets/DotGame/circleNormal.svg');
}

.circle-btn-gray:hover {
    background-image: url('../../assets/DotGame/circleHover.svg');
}

.circle-btn-blue {
    background-image: url('../../assets/DotGame/circleBlue.svg');
}

.circle-btn-green {
    background-image: url('../../assets/DotGame/circleGreen.svg');
}

.games-page-scroll-area {
    grid-area: scroll-area;
    background-color: green;
    height: 100vh;
}

.info-area {
    background-color: rgb(81, 81, 81);
    height: 300px;
}

.g-area {
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    grid-area: board-area;
    position: relative;
    transform-origin: top left;
    padding: 15px;
    width: fit-content;
    overflow: auto;
}

.g-canvas {
    border: 3px solid transparent;
    pointer-events: none;
}

.g-div {
    position: absolute;
    border: 3px solid;
    z-index: 10;
}

.games-page-container {
    display: grid;
    grid-template-columns: 0px auto;
    grid-template-areas:
    "scroll-area play-area";
    transition: 0.3s;
}
.games-page-container.expanded {
    grid-template-columns: 300px auto;
}

.info-stat-div {
    display: block;
    text-align: center;
}

.info-text-div {
    color: white;
    position: relative;
    display: inline-block;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
}
.info-text-div.right {
    text-align: right;
}