
.dot-game-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: orange;
    overflow: hidden;
}

.search-game-text {
    font-size: 15px;
    background-color: yellow;
    width: 300px;
    height: 50px;
}

.search-game-button {
    width: 230px;
}

.hover:hover {
    cursor: pointer;
}

.clickable-circle {
    position: absolute;
    border-radius: 100%;
    opacity: 80%;
}

.clickable-circle:hover {
    cursor: pointer;
    opacity: 100%;
}

.circle-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    background-size: cover;
}

.circle-btn-gray {
    background-image: url('../../assets/DotGame/circleNormal.svg');
}

.circle-btn-gray:hover {
    background-image: url('../../assets/DotGame/circleHover.svg');
}

.circle-btn-blue {
    background-image: url('../../assets/DotGame/circleBlue.svg');
}

.circle-btn-green {
    background-image: url('../../assets/DotGame/circleGreen.svg');
}

.g-area {
    grid-area: board-area;
    position: relative;
    transform-origin: top left;
    /* background-color: red; */
    /* height: 100vh; */
    padding: 15px;
    /* padding-bottom: 25px; */
    width: fit-content;
    /* overflow-y: auto; */
}

.g-canvas {
    /* position: absolute; */
    border: 1px solid black;
    /* overflow: scroll; */
    /* background-color: yellow; */
    /* opacity: 0.4; */
    pointer-events: none;
}

.g-div {
    position: absolute;
    border: black solid 1px;
    z-index: 10;
}

.games-page-container {
    display: grid;
    grid-template-columns: 0px auto;
    grid-template-areas:
    "scroll-area play-area";
    transition: 0.3s;
    /* overflow-y: auto; */
}

.games-page-container.expanded {
    display: grid;
	grid-template-columns: 300px auto;
	grid-template-areas:
    "scroll-area play-area";
}
.games-page-scroll-area {
    grid-area: scroll-area;
    background-color: green;
    /* overflow-y: auto; */
    height: 100vh;
}

.info-area {
    grid-area: info-area;
    background-color: red;
}

.games-page-game-container {
    grid-area: play-area;
    display: grid;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    /* overflow-x: auto; */
    grid-template-columns: 300px auto;
    grid-template-areas:
    "info-area board-area";
}
